APP_NAME="Ejsabet"
APP_ENV=local
APP_KEY=base64:zURV9+Uk1+hLxDzwFYE4t/mKUZEBjp2ABqF5/iCf5SU=
APP_DEBUG=false
APP_LOG_LEVEL=debug
APP_URL=http://127.0.0.1:8000
CLIENT_URL=http://127.0.0.1:3000
# APP_URL=https://ejsabet.fun
# CLIENT_URL=https://ejsabet.fun
AUDIT_DOMAIN=localhost

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=u276635014_ejsabet
DB_USERNAME=root
DB_PASSWORD=
# DB_USERNAME=u276635014_ejsabet
# DB_PASSWORD=J@iro2919
# 186.81.103.240
# $2y$10$EOCYaG3NuJqou2fqPyXCWOdiVp9Q5y2K6u2pRnpwd7Bx2I5x/beRS
BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=+
AWS_DEFAULT_REGION=
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=true

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

JWT_TTL=1440
JWT_SECRET=o8J0EKnhFFSZvYH0ObIHhf3Z4jwvjZMdZbqfPXJc4xGJv5JVr61329T9T0KkQFTU

IMAGE_STORAGE_DISK=s3

FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_DATABASE_URL=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_MEASUREMENT_ID=

WORLD_NEWS_API_KEY=f4960a1ec7d74efbb86c0877a00e0b62

MYSQL_PATH=/usr/bin/mysql
MYSQLDUMP_PATH=/usr/bin/mysqldump

TEST_DATABASE=
