/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.nuxt
/dist
/public/_nuxt
/public/_nuxt.zip
/public/adminer.php
/public/phpinfo.php
*.code-workspace
/.htaccess
sw.*